@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Outfit";
    src: url(./assets/Outfit-VariableFont_wght.ttf);
}

:root {
    --primary-colour: #010922;
    --secondary-colour: #8080D7;
    --tertiary-colour: #AAD9D9;
    --text-colour: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3,
button, header,
.tech-card {
    font-family: "Outfit", Arial, sans-serif;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: var(--primary-colour);
    color: var(--text-colour);
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1rem 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    flex: 1 1;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

